body {
  background-image: url("C:\Users\malak\OneDrive - Alexandria University\Documents\Megaproject\my-app\src\components\17520.jpg");  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
}
