h1 {
    color:aquamarine;
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;

}
h2 {
    color :blueviolet;
    background-color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
}